
<div class="row event-card" data-controller="edit-event" data-edit-event-target="card" >
  <div class="col" style="" data-action="mouseover->edit-event#displayDetails mouseout->edit-event#hideDetails">

  <%# title  %>
    <div class="event-infos <%= 'd-none' if event.errors.any? %>" data-edit-event-target="infos">
        <h2><%= event.title %><small> (<%= event.duration %> mins)</small></h2>
    </div>
    <div style="display:flex";>

    <%# card image %>
      <%= image_tag event.image_url, style: "min-width:250px; min-height:350px"; %>

      <%# edit form %>
      <div class="col d-none edit-form" data-edit-event-target="formdiv", style="min-width:350px; max-height:350px";>
        <button class= "x-button btn btn-pink border1" aria-label= Edit <%= event.title %> style="float: right";>
          <i class="fa-solid fa-xmark" data-action="click->edit-event#hideForm"></i>
        </button>
        <h2>Edit <strong><%= event.title %></strong></h2>
          <%= simple_form_for event,
            html: {

              data: {

                edit_event_target: "form",
                action: "submit->edit-event#update"
              }
            } do |f|
          %>
            <%= f.input :title, label: 'Swap with', collection: ["Event1","Event2","Event3","Event4","Event5"] %>
            <%= f.input :duration, label: 'Change Duration',collection: [["30 mins", 30],["45 mins",45],["1h",60],["1h 15 mins",75],["1h 30 mins",90],["1h 45 mins",105],["2h",120]]%>
            <%= f.submit "Update event", class: "btn btn-sm btn-pink border2" %>
          <% end %>
      </div>
    </div>

    <%# details %>
    <div class="d-none" data-edit-event-target="details" >
        <h2>Description: </h2><%= event.description %> <br>
        <h2>Address: </h2><%= event.address %></p>
        <button class="btn btn-pink border2 m-2" data-edit-event-target="button" data-action="click->edit-event#displayForm">
                Edit
        </button>
    </div>
  </div>


</div>
