
<% alternatives = Array.new %>
<% event.alternative_places["results"].first(5).each do |place| %>
  <% alternatives << place["name"] %>
<% end %>






<div class="row card" data-controller="edit-event" data-edit-event-target="card" >
  <div class="col" style="" data-action="mouseover->edit-event#displayDetails mouseout->edit-event#hideDetails">
<button data-controller="card-details" data-action="click->card-details#showDetails" data-card-id="<%= event.id %>">View details</button>
  <div class="modal fade" id="card-details-modal" tabindex="-1" role="dialog" aria-labelledby="card-details-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-card-details-target="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" data-card-details-target="modalBody">
        <p>Loading details...</p>
      </div>
    </div>
  </div>
</div>

  <%# title  %>
    <div class="event-infos <%= 'd-none' if event.errors.any? %>" data-edit-event-target="infos">
        <h2><%= event.order_number %>. <%= event.place.name  %></h2>
        <small> ( <%= event.start_time  %> - <%= event.end_time  %>)</small>
    </div>
    <div style="display:flex";>

    <%# card image %>
      <% if event.place.photo.attached? %>
        <%= cl_image_tag event.place.photo.key, style: "min-width:190px; min-height:220px" %>
      <% else %>
        <img src="https://res.cloudinary.com/danwlbu2c/image/upload/c_fill,h_300,w_400/v1/development/nm0x8y7ykna21y2h1w2gpxi0fto6" style= "min-width:190px; min-height:220px">
      <% end %>

      <%# edit form %>
      <div class="col d-none edit-form" data-edit-event-target="formdiv", style="min-width:150px; max-height:320px";>
        <button class= "x-button btn btn-pink border1" aria-label= Edit <%= event.place.name %> style="float: right";>
          <i class="fa-solid fa-xmark" data-action="click->edit-event#hideForm"></i>
        </button>
        <h2>Edit <strong><%= event.place.name %></strong></h2>
          <%= simple_form_for [itinerary,event],
            html: {

              # data: {

              #   edit_event_target: "form",
              #   action: "submit->edit-event#update"
              # }
            } do |f|
          %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= f.input :place, label: 'Swap with', collection: alternatives %>
            <%# <%= f.input :end_time, label: 'Change Duration',collection: [["30 mins", 30],["45 mins",45],["1h",60],["1h 15 mins",75],["1h 30 mins",90],["1h 45 mins",105],["2h",120]]%>
             <%= f.submit "Update event", class: "btn btn-sm btn-pink border2" %>
           <% end %>
      </div>
    </div>

    <%# details %>
    <div class="d-none zoom" data-edit-event-target="details" style="min-width:150px; max-height:300px"; >
        <p><%= event.directions_to_event["journey_duration"] %></p>
        <% event.directions_to_event["journey_legs"].each do |leg| %>
          <li><%= leg %></li>
        <% end %>
        <h2>Description: </h2><%= event.place.details_overview %> <br>
        <h2>Address: </h2><%= event.place.details_formatted_address %>
        <a href="<%= event.place.details_url %>" target="_blank"><i class="fa-solid fa-location-dot"></i></a></p>
        <a href="<%= event.place.details_website %>" target="_blank"><i class="fa-solid fa-globe"></i></a></p>
        <button class="btn btn-pink border2 m-1" data-edit-event-target="button" data-action="click->edit-event#displayForm">
                Edit
        </button>

    </div>
  </div>


</div>
