<div class="container"  >
  <div class="parent1">
    <div class="container event-container">
      <div class="col">
        <h3 class="h2 mb-4 content5"><%= @confirmed == "true" ? "Itinerary Confirmed" : "Customise your Itinerary"%></h3>
      </div>
      <div class="flex-container justify-content-center" <% if @confirmed!="true" %>data-controller="sortable"<%end%> id="event" data-target-id="<%= @itinerary.id %>" >
        <% @events.each do |event| %>
          <%= render "events/event_infos", event: event, itinerary: @itinerary, confirmed:@confirmed %>
        <% end %>
      </div>
      <div class="d-flex flex-column mt-4">

      </div>

    </div>
  </div>

  <div style="width: 320px;">
    <h3 class="h2 content5">Add your own destination</h3>
    <%= render "events/new_event", itinerary: @itinerary%>
  </div>

 <% if @confirmed!="true"%>
          <%= button_to 'Confirm Itinerary', confirm_path(@itinerary), method: :get, class: 'btn btn-pink border2' %>
        <% end %>
</div>
