<div>
  <div>
    <div class="event-container justify-content-center">
      <div>
        <h3 class="h2 mb-4 content5"><%= @confirmed == "true" ? "Itinerary Confirmed" : "Customise your Itinerary"%> </h3>
        <h2 class="mb-4 content5"><%= @itinerary.date.strftime("%d %B %Y") %></h2>
      </div>
      <div class="container" <% if @confirmed!="true" %>data-controller="sortable"<%end%> id="event" data-target-id="<%= @itinerary.id %>" >
        <% @events.each do |event| %>
          <%= render "events/event_infos", event: event, itinerary: @itinerary, confirmed:@confirmed %>
        <% end %>
      </div>
    </div>

  <div style="width: 320px;">
    <h2 class="h2 content5">Add your own destination</h2>
    <%= render "events/new_event_form", itinerary: @itinerary%>
  </div>

 <% if @confirmed!="true"%>
          <%= button_to 'Confirm Itinerary', confirm_path(@itinerary), method: :get, class: 'btn btn-pink border2' %>
        <% end %>
</div>

<%#   "flex-container justify-content-center"
