<footer class="transparent-footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/lewis-schaefer/', class: 'linkedin-icon' %>
      <%= link_to '', 'https://github.com/lewis-schaefer', class: 'github-icon' %>
    </div>

    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/antonio-moschetti-744967162/', class: 'linkedin-icon' %>
      <%= link_to '', 'https://github.com/antomos', class: 'github-icon' %>
    </div>

    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/deca12x/', class: 'linkedin-icon' %>
      <%= link_to '', 'https://github.com/deca12x', class: 'github-icon' %>
    </div>

    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/aiub-laarbi-mohamed-340387250/', class: 'linkedin-icon' %>
      <%= link_to '', 'https://github.com/Aiub98', class: 'github-icon' %>
    </div>
  </div>
</footer>
