<footer class="transparent-footer">
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com', class: 'avatar' %>
      <%= link_to '', 'https://github.com', class: 'avatar' %>
    </div>
    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com', class: 'avatar' %>
      <%= link_to '', 'https://github.com', class: 'avatar' %>
    </div>
    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com', class: 'avatar' %>
      <%= link_to '', 'https://github.com', class: 'avatar' %>
    </div>
    <div class="footer-item">
      <%= image_tag 'giulio-gh.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com', class: 'avatar' %>
      <%= link_to '', 'https://github.com', class: 'avatar' %>
    </div>
  </div>
</footer>
