<footer>
  <div class="footer-container">
    <div class="footer-item">
      <%= image_tag 'https://res.cloudinary.com/danwlbu2c/image/upload/v1678834960/lewis_ngpsxi.jpg', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/lewis-schaefer/', class: 'linkedin-icon', target: "_blank" %>
      <%= link_to '', 'https://github.com/lewis-schaefer', class: 'github-icon', target: "_blank" %>
    </div>

    <div class="footer-item">
      <%= image_tag 'https://res.cloudinary.com/danwlbu2c/image/upload/v1678834961/antonio_e4z9k0.jpg', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/antonio-moschetti-744967162/', class: 'linkedin-icon', target: "_blank" %>
      <%= link_to '', 'https://github.com/antomos', class: 'github-icon', target: "_blank" %>
    </div>

    <div class="footer-item">
      <%= image_tag 'https://res.cloudinary.com/danwlbu2c/image/upload/v1678834961/giulio_l3pxx3.png', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/deca12x/', class: 'linkedin-icon', target: "_blank" %>
      <%= link_to '', 'https://github.com/deca12x', class: 'github-icon', target: "_blank" %>
    </div>

    <div class="footer-item">
      <%= image_tag 'https://res.cloudinary.com/danwlbu2c/image/upload/v1678834960/aiub_kiafir.jpg', class: 'round-image' %>
      <%= link_to '', 'https://www.linkedin.com/in/aiub-laarbi-mohamed-340387250/', class: 'linkedin-icon', target: "_blank" %>
      <%= link_to '', 'https://github.com/Aiub98', class: 'github-icon', target: "_blank" %>
    </div>
  </div>
</footer>
