<div class="navbar-container p-2">
  <div style="padding-left: 5px; padding-right: 61px;">
    <%= link_to root_url do %>
      <%= image_tag "map.svg", :class => "avatar-large" %>
    <% end %>
  </div>

  <h1 class="content3"><%= "My Day Out" %></h1>

  <% if user_signed_in? %>
    <div class="d-flex align-items-center" style="padding-right: 5px;">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
      <%= image_tag "https://res.cloudinary.com/danwlbu2c/image/upload/v1678834961/giulio_l3pxx3.png", class: "avatar"%>
    </div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>
</div>
