
<% alternatives = Array.new %>
<% event.alternative_places["results"].first(5).each do |place| %>
  <% alternatives << place["name"] %>
<% end %>
<% coord = event.place.search_geometry_location.split(',') %>
<% @markers =
      [{
        lat: coord[0],
        lng: coord[1]

      }]
%>






<div class="card" data-controller="edit-event" data-edit-event-target="card" >
  <div class="col" style="" data-action="mouseover->edit-event#displayDetails mouseout->edit-event#hideDetails">

 <%= link_to "Edit this post", edit_path, data: { turbo_frame: "modal" } %>
  <%# title  %>
    <div class="event-infos <%= 'd-none' if event.errors.any? %>" data-edit-event-target="infos">
        <h2><%= event.order_number %>. <%= event.place.name  %></h2>
        <small> ( <%= event.start_time  %> - <%= event.end_time  %>)</small>
    </div>
    <div style="display:flex";>

    <%# card image %>
      <% if event.place.photo.attached? %>
        <%= cl_image_tag event.place.photo.key, style: "min-width:190px; min-height:220px" %>
      <% else %>
        <img src="https://res.cloudinary.com/danwlbu2c/image/upload/c_fill,h_300,w_400/v1/development/nm0x8y7ykna21y2h1w2gpxi0fto6" style= "min-width:190px; min-height:220px">
      <% end %>

      <%# edit form %>

    </div>

    <%# details %>
    <div class="zoom" data-edit-event-target="details" style="min-width:150px; max-height:300px"; >
        <p><%= event.directions_to_event["journey_duration"] %></p>
        <% event.directions_to_event["journey_legs"].each do |leg| %>
          <li><%= leg %></li>
        <% end %>
        <h2>Description: </h2><%= event.place.details_overview %> <br>
        <h2>Address: </h2><%= event.place.details_formatted_address %>
        <a href="<%= event.place.details_url %>" target="_blank"><i class="fa-solid fa-location-dot"></i></a></p>
        <a href="<%= event.place.details_website %>" target="_blank"><i class="fa-solid fa-globe"></i></a></p>
        <p><%= link_to "Remove", remove_path(event), data: {
              turbo_method: :get,
              turbo_confirm: "Are you sure you want to remove this event from your Itinerary? This cannot be undone."
              }
        %></p>
        <button class="btn btn-pink border2 m-1 edit-button" data-edit-event-target="button" data-action="click->edit-event#displayForm">
                Edit
        </button>
        <div style="width: 200px; height: 200px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>


</div>
