
<% alternatives = Array.new %>
<% event.alternative_places["results"].first(5).each do |place| %>
  <% alternatives << place["name"] %>
<% end %>
<% coord = event.place.search_geometry_location.split(',') %>
<% @markers =
      [{
        lat: coord[0],
        lng: coord[1]

      }]
%>






<div class="d-flex flex-column card justify-content-center rounded" >
  <div class="col">
    <%# card image %>
    <div class="card-img" style="min-width:200px; min-height: 310px";>
      <div class="card-header">
        <h2><%= event.order_number %>. <%= event.place.name  %></h2>
        <small> ( <%= event.start_time  %> - <%= event.end_time  %>)</small>
      </div>
      <% if event.place.photo.attached? %>
        <%= cl_image_tag event.place.photo.key%>
      <% else %>
        <img src="https://res.cloudinary.com/danwlbu2c/image/upload/c_fill,h_300,w_400/v1/development/nm0x8y7ykna21y2h1w2gpxi0fto6" style= "min-width:40px; min-height:170px">
      <% end %>
      <br>
      <div class="d-flex flex-column" style="min-width:200px; min-height: 200px";>
        <button class="btn btn-pink border2" data-edit-event-target="button" data-action="click->edit-event#displayForm">
                Edit
        </button>
      </div>
    </div>
    <% if confirmed!="true" %>
        <h2>Edit <strong><%= event.place.name %></strong></h2>
          <%= simple_form_for [itinerary,event],
             data: { controller: 'flatpickr' } do |f|
          %>
            <%= f.input :start_time, placeholder: "Starting time", as: :string, input_html: { data: {flatpickr_target: "start" } } %>
           <%= f.input :end_time, placeholder: "Ending time", as: :string, input_html: { data: {flatpickr_target: "end" } } %>

            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= f.input :place, label: 'Swap with', collection: alternatives %>
            <%# <%= f.input :end_time, label: 'Change Duration',collection: [["30 mins", 30],["45 mins",45],["1h",60],["1h 15 mins",75],["1h 30 mins",90],["1h 45 mins",105],["2h",120]]%>
             <%= f.submit "Update event", class: "btn btn-sm btn-pink border2 " %>
           <% end %>
    <% end %>
  </div>
</div>
