<% icons =Hash["History"=>["History","https://res.cloudinary.com/danwlbu2c/image/upload/v1679589757/production/museum_1_fjicz5.png"],
"Art & Culture"=>["Art & Culture","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586195/production/art_xfqnbi.png"],
"Shopping"=>["Shopping","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586195/production/online-shopping_zwmfwi.png"],
"dining_dinner"=>["Restaurant","https://res.cloudinary.com/danwlbu2c/image/upload/v1679589757/production/fork_yu5lpv.png"],
"dining_lunch"=>["Restaurant","https://res.cloudinary.com/danwlbu2c/image/upload/v1679589757/production/fork_yu5lpv.png"],
"Drinks"=>["Drinks","https://res.cloudinary.com/danwlbu2c/image/upload/v1679589757/production/martini_vicip8.png"],
"Activity"=>["Activity","https://res.cloudinary.com/danwlbu2c/image/upload/v1679590273/production/activity_r3z647.png"],
"Outdoors"=>["Outdoor","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586195/production/park_ltec6l.png"],
"Attraction"=>["Attraction","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586195/production/ferris-wheel_tkfzl3.png"],
"history_art_culture"=>["Art & Culture","https://res.cloudinary.com/danwlbu2c/image/upload/v1679589757/production/museum_1_fjicz5.png"],
"dining_dinner_drinks"=>["Restaurant and drinks","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586352/production/dinner_itylp6.png"],
"dining_lunch_drinks"=>["Restaurant","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586352/production/dinner_itylp6.png"],
"activity_attraction"=>["Attraction","https://res.cloudinary.com/danwlbu2c/image/upload/v1679586195/production/ferris-wheel_tkfzl3.png"]
]
%>

<%category=["History",
"Art & Culture",
"Shopping",
"dining_dinner",
"dining_lunch",
"Drinks",
"Activity",
"Outdoors",
"Attraction",
"history_art_culture",
"dining_dinner_drinks",
"dining_lunch_drinks",
"activity_attraction"]  %>


<% alternatives = Array.new %>
<% if event.alternative_places.length != 0 %>
  <% event.alternative_places["results"].first(20).each do |place| %>
    <% alternatives << place["name"] %>
  <% end %>
<% end %>
<% coord = event.place.search_geometry_location.split(',') %>
<% @markers =
      [{
        lat: coord[0],
        lng: coord[1]

      }]
%>
<% directions=""%>
<% if event.directions_to_event["journey_legs"] %>
  <% event.directions_to_event["journey_legs"].each do |leg| %>
    <% directions << "<p>#{leg}</p>\n"%>
  <% end %>
<% end %>

<% name = event.place.name.length>30 ?  "#{event.place.name.slice(0, 28)}..." : event.place.name %>

<div class="d-flex transparent">
  <%#start icon container %>
  <div class="travel-icon transparent" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="Directions" data-bs-content="<%= directions %>">
  <a href="<%= event.place.details_url %>" target="_blank"><img src="https://res.cloudinary.com/danwlbu2c/image/upload/v1679141206/destination_trhdxu.png" style= "width:40px; height:40px"></a>

  <p>
    <small>
      <% time = event.directions_to_event["journey_duration"] %>
      <% time = time.to_s %>
      <% if time.include?('h') %>
        <% h = time.slice(..time.index('h')) %>
        <% m = time.slice(time.index('h')+4..) %>
        <%= h %><br>
        <%= m %>
      <% else %>
        <%= time %>
      <% end %>
    </small>
  <p>
  </div>
  <%#end icon container %>



  <div id="roundborders transparent" class="d-flex flex-column card justify-content-center rounded cardborder" data-controller="edit-event"  >
      <%# edit form %>
    <div class="edit-form d-none formdiv<%= event.id %>" data-edit-event-target="formdiv" id="formdiv" data-target-id="<%= event.id %>">
      <div class="edit-close-div">
        <button class="border2 close-btn" style="border-color: transparent !important; float: right"; data-action="click->edit-event#hideForm"><i class="fa-solid fa-xmark"></i></button>
      </div>



      <div class="edit-container">
        <div class="left-column">
          <div class="partial-title d-flex">
            <h1><strong><%= name %></strong></h1>
          </div>
          <div style="display:flex";>
              <%# Left details column%>
              <div class="left-column-details">

                  <div class="map"
                        style="width: 90%; height: 90%; max-height: 250px"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                  </div>


                <div class="">
                  <span class="review-header">Phone: </span>
                  <p><%= event.place.details_formatted_phone_number ? event.place.details_formatted_phone_number : "N/A" %></p>
                  <p class="review-header link-dec">
                    <% if event.place.details_url %><a class ="website-icon" href="<%= event.place.details_url %>" target="_blank">Directions: <i class="fa-solid fa-map"></i></a> <% end  %>
                    <% if event.place.details_website %><a class ="website-icon" href="<%= event.place.details_website %>" target="_blank"> &nbsp;&nbsp;Website: <i class="fa-solid fa-globe"> </i></a> <% end  %>
                  </p>

                  <span class="review-header">Address: </span>
                  <p><%= event.place.details_formatted_address ? event.place.details_formatted_address : "N/A" %></p>
                </div>

              </div>
              <%# Right details column%>
              <div class="right-column-details" style="min-width:120px; max-height:300px"; >
               <div class="scrollable-content-details">

                <span class="review-header">Description:</span>
                <p><%= event.place.details_overview ? event.place.details_overview : "You are going to love it!" %></p>

                  <div>
                    <% if event.place.details_opening_hours_periods %>
                      <span class="review-header">Opening Hours:</span><br>
                      <% if event.place.details_opening_hours_periods["weekday_text"] %>
                        <% event.place.details_opening_hours_periods["weekday_text"].each do |day| %>
                          <%= day %><br>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="right-column">
          <div class="review-title">
            <strong>Reviews <% if event.place.details_reviews %> <%= image_tag "star.png", width: 20, height: 20 %><small><%= event.place.search_rating %> (<%= event.place.search_user_ratings_total  %>)</small> </strong><p> <% end %>
          </div>
          <div class="scrollable-content">
          <%# reviews %>
            <% if event.place.details_reviews %>
              <% event.place.details_reviews.each do |review| %>

                <% begin %>
                  <% review = JSON.parse(review) %>
                  <br>
                  <strong><%= review["author_name"] %></strong>
                  <br>
                  <% review["rating"].to_i.times do %>
                    <%= image_tag "star.png", width: 20, height: 20 %>
                  <% end %>
                  <br>
                  <i><%= (Time.at(review["time"].to_i).to_datetime).strftime("%a, %d %b %Y") %></i>
                  <br>
                  <%= (review)["text"] %>
                  <br>
                <% rescue %>
                  <% next %>
                <% end %>


              <% end %>
            <% else %>
              <p>There are no reviews for this place yet</p>
            <% end %>
          </div>
        </div>
      </div>
      <div>
      <% unless itinerary.saved %>
          <br>
                <%= simple_form_for [itinerary,event],
                  data: { controller: 'flatpickr' } do |f|
                %>
                <div class="d-flex justify-content-evenly">
                  <div class= "inputs">
                    <%= f.input :start_time, placeholder: "Starting time", as: :string, input_html: { class:"datetimecolor", data: {flatpickr_target: "start" } } %>
                  </div>
                  <div class= "inputs">
                    <%= f.input :end_time, placeholder: "Ending time", as: :string, input_html: { class:"datetimecolor", data: {flatpickr_target: "end" } } %>
                  </div>
                  <% if event.category %>
                    <div class="swap-with-input">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <%= f.input :place, label: 'Swap with', required: false, collection: alternatives, input_html: { class:"datetimecolor"} %>
                    </div>
                  <% end %>
                </div>
                  <%# <%= f.input :end_time, label: 'Change Duration',collection: [["30 mins", 30],["45 mins",45],["1h",60],["1h 15 mins",75],["1h 30 mins",90],["1h 45 mins",105],["2h",120]]%>
                  <%= f.submit "Update event", class: "btn btn-sm btn-pink border2", id: "bottomroundborders" %>
                <% end %>
          <% end %>
      </div>
    </div>



    <%# card %>
    <div <% unless event.open_now %> class="redshadow" <% end %>>
      <%# card image %>
      <div class="card-id-button">
        <%= event.order_number %>
      </div>
      <% unless itinerary.saved %>
        <button class="remove-event-button border2" style="border-color: transparent !important;">
          <%= link_to remove_path(event), input_html: { class:"remove-event-button"}, data: {     turbo_method: :get,     turbo_confirm: "Are you sure you want to remove this event from your Itinerary? This cannot be undone."     } do %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </button>
      <% end %>
    <div class="modal fade" id="removeModalCenter" style="z-index:9999;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title content3" id="removeModalLongTitle">My Day Out</h3>
            <button type="button" class="border2" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove this event? This change cannot be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-pink border2">
              <%= link_to "Continue", remove_path(event), :class => "no-text-decoration" %>
            </button>
          </div>
        </div>
      </div>
    </div>

      <% url = ""  %>
      <% if event.place.photo.attached? %>
        <% url =  cl_image_path event.place.photo.key  %>
      <% else %>
        <% url = cl_image_path "https://res.cloudinary.com/danwlbu2c/image/upload/v1679487069/production/placeholder_oygtzp.jpg" %>
      <% end%>

      <div id="toproundborders" class="card-img" style="background-image: url('<%= url %>')">
      </div>
      <div class="card-header">
        <div class="d-flex interests">
          <img class="" src="<%= event.category ? icons[event.category][1] : "https://res.cloudinary.com/danwlbu2c/image/upload/v1679586195/production/pencil_aaldec.png"%> "  width="20" height="20" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= event.category ? icons[event.category][0] : "Custom Place"%>"></i>
          <h6 class="card-title" >&nbsp;<%= name  %></h6>
        </div>
        <small>
          <%  if event.open_now %>
            <i class="fa-solid fa-clock">
          <%  else %>
            <img src="https://res.cloudinary.com/danwlbu2c/image/upload/v1679421402/alert_qrihs9.png"  width="20" height="20" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="This place might be closed at this time"></i>
          <%  end %>
          </i>
          <%= event.start_time  %> - <%= event.end_time  %>
        </small>
        <br>
        <%= image_tag "star.png", width: 20, height: 20 %><small><% if event.place.search_rating %> <%= event.place.search_rating %> (<%= event.place.search_user_ratings_total  %>)</small> <% else %> N/A <% end %> <br>
      </div>
      <button class="btn btn-pink border2" id="bottomroundborders", data-edit-event-target="button" >Details</button>
    </div>
  </div>
<%#end outer container %>
</div>
