<script>
  let autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'),
      {
        types: ['establishment'],
        // componentRestrictions: {'country': ['EN']},
        fields: ['name']
      });
    console.log(autocomplete)
    autocomplete.addListener('place_changed', onPlaceChanged);
  }

  function onPlaceChanged() {
    var place = autocomplete.getPlace();

    if (!place.geometry) {
      document.getElementById('autocomplete').placeholder = 'Enter a place';
    } else {
      document.getElementById('details').innerHTML = place.name;
    }
    console.log(place.name)
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&libraries=places&callback=initAutocomplete" async defer></script>


<%= simple_form_for [itinerary,Event.new] do |f| %>
  <div class="d-flex justify-content-between">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= f.input :place, input_html: { id: 'autocomplete', placeholder: 'Enter a place', style: "width: 320px;" } %>
  </div>
  <%= f.submit "Add event", class: "btn btn-sm btn-pink border2 " %>
<% end %>
